@import 'https://fonts.googleapis.com/css?family=Roboto';

#formulatio_editprofile{
  border: none;
}

a {
  color: #aab3bb;
  text-decoration: none;
}

section {
  border: 1px solid black;
  width: 300px;
  background: #fff;
  position: relative;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#avatar {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: absolute;
  bottom: -62px;
  left: 50%;
  margin-left: -62px;
  border: 4px solid white;
}

#avatar img {
  display: block!important;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

#avatar_img{
  padding: 0;
}

.header {
  background: #FFD97D url() no-repeat center center;
  width: 100%;
  height: 150px;
  background-size: cover;
  position: relative;
  margin-bottom: 80px; 
}

 .info {
   text-align: center
 }

.info h2 {
  margin: 15px 0 0;
  color: #F9711A;
  font: bold 26px/1 "Raleway", sans-serif;
}

.info a {
  font-weight: bold;
}

.info p {
  margin: 10px 0 10px;
}

.edit_button {
  margin: 20px 0 25px 75px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Iceland';
  font-weight: 500;
  font-size: 22px;
  color: black;
  width: 150px!important;
  height: 30px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-color: #f1f1f1;
  transition: width .5s;
}

.edit_button:hover{
  cursor: pointer;
  height: 47px;
  color: #f9711a;
  cursor: pointer;
  border-bottom: 4px solid #F9711A;
  border-right: 4px solid #F9711A;
  border-top: 1px solid #F9711A;
  border-left: 1px solid #F9711A;
}

.save_edit_button {
  margin: 20px 0 25px 50px;
  text-align: center;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Iceland';
  font-weight: 500;
  font-size: 22px;
  color: black;
  width: 165px!important;
  height: 30px;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  background-color: #f1f1f1;
  transition: width .5s;
}

.save_edit_button:hover{
  cursor: pointer;
  height: 47px;
  color: #f9711a;
  cursor: pointer;
  border-bottom: 4px solid #F9711A;
  border-right: 4px solid #F9711A;
  border-top: 1px solid #F9711A;
  border-left: 1px solid #F9711A;
}