<link rel="stylesheet" href="../static/css/style_loggedheader.css">

<ul class="side-menu">
    <li>
        <a href="{{ url_for('home') }}"><img class="logo" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo-black.svg" alt="" width="45" height="38"></a>
    </li>
    <li>
          <a href="{{ url_for('create_post') }}"><img src="../static/img/icons/form.svg">Novo Post</a>
    </li>

    <li>
        <a href="{{ url_for('profile') }}"><img src="../static/img/icons/profile.svg">Meu perfil</a>
    </li>
    <li>
        <a href="{{ url_for('logout') }}"> <img src="../static/img/icons/logout.svg">Log Out</a>
    </li>
    <li>
        <a href="#"><img src="../static/img/icons/doubt.svg">Sobre os Desenvolvedores</a>
    </li>
</ul>
